<div class="container mt-2">
    <div class="row">
        <div class="col-md-10">
            <br>
            <h2 class="text-center">Listado de Pokemons</h2>
        </div>
        <div class="col-md-2">
         
        </div>
        <div class="col-md-12">
            <hr>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 mb-3" 
                *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 9, currentPage: currentPage, totalItems: totalRecords  }">
                <div class="box border p-2">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="img-container">
                                <img [src]="pokemon.sprites.front_default" alt="pokemon" 
                                width="100" 
                                class="text-center" >
                            </div>
                        </div>
                        <div class="col-md-7">
                            <br>
                            <p class="font-weight-bold">{{ pokemon.name }}</p>
                            <button type="button" (click)="addPokemonToFavorite($event)" 
                            data-name="{{ pokemon.name }}" [disabled]="ifPokemonNotExistInFavorites(pokemon.name)"
                            class="btn btn-outline-success">
                                + Agregar a favoritos
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-center">
        <br>
        <pagination-controls (pageChange)="currentPage = $event; pokemons = []; getPokemons()" class="justify-content-center text-ceter"></pagination-controls>
    </div>
</div>
</div>